<button class="theme-toggle btn btn-rounded btn-icon" (click)="toggleThemeSelector(true)">
    <i class="ti-palette"></i>
</button>
<div class="theme-configurator" [ngClass]="isOpen ? 'theme-config-open' : ''">
    <div class="configurator-wrapper">
        <div class="config-header">
            <h4 class="config-title">{{ 'layout_config_theme_title' | translate }}</h4>
            <button class="config-close" (click)="toggleThemeSelector(false)">
                <i class="ti-close"></i>
            </button>
        </div>
        <div class="config-body">
            <div class="mrg-btm-30" *ngFor="let tSet of themeSet">
                <!-- TODO: вынести в отдельный компонент colorPicker... -->
                <div *ngIf="tSet.key == 'headercolor'">
                    <p class="lead font-weight-normal">{{ 'layout_config_theme_headercolor' | translate }}</p>
                    <div *ngFor="let value of tSet.values" class="theme-colors" [ngClass]="'header-' + value">
                        <input type="radio" 
                                id="{{ 'header-' + value }}" 
                                [name]="tSet.key"
                                [checked]="theme[tSet.key] == value" 
                                [value]="value"
                                (change)="onSelectionChange(tSet.key, value)">
                        <label for="{{ 'header-' + value }}"></label>
                    </div>
                </div>

                <div *ngIf="tSet.key == 'sidebarcolor'">
                    <p class="lead font-weight-normal">{{ 'layout_config_theme_sidebarcolor' | translate }}</p>
                    <div *ngFor="let value of tSet.values" class="theme-colors" [ngClass]="'side-nav-' + value">
                        <input type="radio" 
                                id="{{ 'side-nav-' + value }}" 
                                [name]="tSet.key"
                                [checked]="theme[tSet.key] == value" 
                                [value]="value"
                                (change)="onSelectionChange(tSet.key, value)">
                        <label for="{{ 'side-nav-' + value }}"></label>
                    </div>
                </div>

                <div *ngIf="tSet.key == 'rtl'">
                    <p class="lead font-weight-normal no-mrg-btm">{{ 'layout_config_theme_rtl' | translate }}</p>
                    <div class="toggle-checkbox checkbox-inline toggle-sm mrg-top-10">
                        <input type="checkbox" 
                                [checked]="theme[tSet.key]" 
                                (change)="onSelectionChange(tSet.key, !theme[tSet.key])" 
                                name="rtl-toogle" id="rtl-toogle">
                        <label for="rtl-toogle"></label>
                    </div>
                </div>
            </div>
            <div class="mrg-btm-30">
                <button class="btn btn-primary" (click)="onClickTestLogout()">{{ 'logout' | translate }}</button>
            </div>
        </div>
    </div>
</div>