<div class="authentication">
	<div class="sign-in-2">
		<div class="container-fluid no-pdd-horizon bg" style="background-image: url('assets/images/others/img-30.jpg')">
			<div class="row">
				<div class="col-md-10 mr-auto ml-auto">
					<div class="row">
						<div class="mr-auto ml-auto full-height height-100">
							<div class="vertical-align full-height">
								<div class="table-cell">
									<div class="card">
										<div class="card-body">
											<div class="b-lgpick">
												<ul class="languagepicker roundborders large">
													<a #langSelect *ngFor="let lang of langs | async" (click)="onChangeLang(lang.name)">
													<li><img src="assets/images/flags/{{lang.name}}.png" alt=""></li>
													</a>
												</ul>
											</div>

											<div class="pdd-horizon-30 pdd-vertical-30">
												<div class="mrg-btm-30">
													<img class="img-responsive inline-block" src="assets/images/logo/logo.png" alt="">
													<h2 class="inline-block pull-right no-mrg-vertical pdd-top-15">{{ 'login_title' | translate }}</h2>
												</div>
												<p class="mrg-btm-15 font-size-13">{{ 'login_message_head' | translate }}</p>
												<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
													<div class="form-group">
														<input type="email" [formControl]="email" class="form-control" placeholder="Email">
													</div>
													<div class="form-group">
														<input type="password" [formControl]="password" class="form-control" placeholder="Password">
													</div>
													<div class="checkbox font-size-13 inline-block no-mrg-vertical no-pdd-vertical">
														<input id="agreement" name="agreement" type="checkbox" [formControl]="isRememberMe">
														<label for="agreement">{{ 'login_keep_me_sign' | translate }}</label>
													</div>
													<div class="pull-right">
														<a href="">{{ 'login_forgot_password' | translate }}</a>
													</div>
													<div class="mrg-top-20 text-right">
														<button class="btn btn-info" [disabled]="!form.valid || isLoading" type="submit">{{ 'login_button' | translate }}</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
