.b-lgpick {
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 12px;
}

.languagepicker {
    background-color: rgba(8, 8, 10, 0.180392);
    display: inline-block;
    padding: 0;
    height: 40px;
    width: 66px;
    overflow: hidden;
    transition: all .3s ease;
    // margin: 0 50px 10px 0;
    vertical-align: top;
    float: left;
    z-index: 20000;
    position: relative;
    right: -12px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.languagepicker:hover {
    // height: 81px;
    width: calc(66px * 2 - 4px);
}

.languagepicker a{
    color: #fff;
    text-decoration: none;
}

.languagepicker li {
    text-align: center;
    z-index: 2000;
    display: block;
    padding: 0px 20px;
    line-height: 40px;
    // border-top: 1px solid rgba(90, 90, 90, 0.5);
    float: right;
}

.languagepicker li:hover{
    background-color: #7774e7;
}

.languagepicker a:last-child li {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.languagepicker a:first-child li {
    border: none;
    // background: #FFF !important;
}

.languagepicker li img {
    width: 24px;
    // padding-right: .5rem;
}